<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
  <property name="APP_NAME" value="ServiceB" />
  <include resource="default-logback.xml"/>
  <root level="info">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="GELF" />
  </root>
  <springProfile name="docker">
    <root level="info">
      <appender-ref ref="GELF-DOCKER" />
    </root>
  </springProfile>
</configuration>