html {
  height: 100%;
  width: 100%;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #ff8859;
  padding: 0;
  margin: 0 0;
}

#content {
  background: url(images/background.gif) repeat-x;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0 0;
}

#toaster {
  padding-left: 125px;
  padding-top: 145px;
  width: 375px;
  float: left;
}

#toast-back {
  display: block;
  padding: 0;
  margin: 0 0;
  position: relative;
  z-index: 1;
}

#toast-front {
  display: block;
  padding: 0;
  margin: 0 0;
  position: relative;
  z-index: 2;
}

#toast-button-holder {
  position: absolute;
  padding-top: 165px;
  padding-left: 20px;
  z-index: 3;
}

#toast-button {
  background: url('images/toast-button.png') no-repeat;
  width: 56px;
  height: 46px;
  cursor: pointer;
  border: none;
}

#toast-button:focus {
  border: none;
  outline: none;
}

#toast-button-holder.toasted {
  animation-name: toasted-button;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

#toast-button-holder.toastit {
  animation-name: toast-it-button;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

#toast-bread-holder {
  position: absolute;
  padding-top: 7px;
  padding-left: 72px;
  z-index: 2;
}

#toast-bread {
  background: url('images/light.png') no-repeat;
  width: 156px;
  height: 149px;
  cursor: pointer;
}

#toast-bread-holder.toastit {
  animation-name: toast-it;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

#toast-bread-holder.toasted {
  animation-name: toasted;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

#toast-machine {
  padding-top: 133px;
  padding-left: 27px;
}

#shadow {
  margin-top: -80px;
}

#frying {
  float: left;
  width:550px;
}

#part-of-kitchen {
  padding-top: 350px;
}

#stove{
  float:right;
  width:375px;
  height:100px;
}
#food{
  float:left;
  padding-top:50px;
}
#gas-stove {
  position: absolute;
  padding-top: 50px;
  z-index: 1;
  padding-left: 36px;
}

#pan {
  position: absolute;
  z-index: 2;
}

#fried-bacon {
  padding-left: 70px;
  padding-top:12px;
  position: absolute;
  z-index: 3;
}

#fried-egg {
  padding-left: 70px;
  padding-top:12px;
  position: absolute;
  z-index: 3;
}

#food-plate{
  float:left;
  padding-top:380px;
  padding-left:25px;
}

#egg-on-bread{
  position:absolute;
  z-index:3;
  padding-top:18px;
  padding-left:32px;
}
#bacon-on-bread{
  position: absolute;
  z-index:2;
  padding-top:7px;
  padding-left:37px;
}
#brown-bread{
  position:absolute;
  z-index:1;
  padding-top:10px;
  padding-left:22px;
}
#egg,#bacon,#fried-bacon,#fried-egg{
  cursor:pointer;
}
#fried-egg,#fried-bacon,#plate,#brown-bread,#bacon-on-bread,#egg-on-bread{
  display: none;
}

@keyframes toast-it {
  from {
    padding-top: 7px;
  }
  to {
    padding-top: 158px;
  }
}

@keyframes toasted {
  0% {
    padding-top: 158px;
  }
  50% {
    padding-top: 0px;
  }
  100% {
    padding-top: 3px;
  }
}

@keyframes toast-it-button {
  from {
    padding-top: 158px;
  }
  to {
    padding-top: 272px;
  }
}

@keyframes toasted-button {
  from {
    padding-top: 272px;
  }
  to {
    padding-top: 165px;
  }
}